<% if signed_in? %>

	<div class="front">
		<div class="main">
			<h1 class="micropost">What's up?</h1>
			<%= render 'shared/micropost_form' %>
		</div>
		<div class="sidebar">
			<%= render 'shared/user_info' %>
		</div>
	</div>

<% else %>

<h1>Sample App</h1>
<p>This is the home page for the Ruby on Rails Tutorial Sample App.</p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>

<% end %>